<div class="row">
  <aside class="span4">
    <section>
      <h1>
        About Us
      </h1>
    </section>
  </aside>
</div>
<br />
<br />
<br />
<p>The virtual library is a repository of ebooks</p>
