<div class="center hero-unit">
  <h1>Welcome to the Virtual Library</h1>

  <h2>
    This place has everything you need...
  </h2>

  <%= link_to "Sign up now!", 'login', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("earth_wallpaper_desktop-normal5.4.jpg", alt: "Library"), 'http://localhost:3000/login' %>

