<%= link_to 'Back', ebooks_path %>
<%= link_to 'Show', @relationshp %> |

 <div>

 </div>
<%= link_to(create_relationshp_path, class: "btn btn-success") do %>
    Submit <i class="icon-plus icon-white"></i>
<% end %>
